* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#content {
    padding: 0 1rem;
}

h1, h2, h3, h4 {
    margin: 0.9rem 0;
}

nav {
    text-align: center;
    padding: 2rem;
}

nav button {
    padding: 0.2rem 3rem;
    border: none;
}

.homeTitle {
    text-align: center;
}

.homeSubtitle {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

.menuTitle {
    text-align: center;
}

.categoryTitle {
    padding: 0 0 0 2rem;
    border-left: 3px solid blue;
    border-radius: 0;
}

.food {
    border: 1px solid black;
    padding: 2rem;
}

.food:nth-child(even) {
    background-color: rgb(103, 202, 205);
}

.food:nth-child(odd) {
    background-color: rgb(113, 171, 237);
}

.aboutTitle {
    text-align: center;
}

.aboutP {
    width: 75ch;
    font-size: 1.3rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
}